<app-header></app-header>
<a [routerLink]="['/login']">Cerrar sesión</a>
<!-- 
<table>
    <thead>
        <td>Nro</td>
        <td>Disponibilidad</td>
        <td>Ingreso</td>
        <td>Acciones</td>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Disponible</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Disponible</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Disponible</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Disponible</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
 -->
 <main class="flex-column-center">
<div class="tabla">
    <div class="header-tabla">
        <div>Nro</div>
        <div>Disponibilidad</div>
        <div>Ingreso</div>
        <div>Acciones</div>
    </div>
    @for (fila of filas; track $index) {
        <div>
            <div>{{ fila.nro }}</div>
            <div><span [ngClass]="{disponible: fila.disponibilidad, ocupado: !fila.disponibilidad}">{{ fila.disponibilidad ? 'Disponible' : 'No disponible'}}</span></div>
            <div>{{ fila.ingreso }}</div>
            <div class="acciones-container">
                <button (click)="cambiarDisponibilidadCochera($index)"><img src="img/icons/prohibido.png" alt="Cambiar disponibilidad fila"></button>
                <button (click)="eliminarFila($index)"><img src="img/icons/contenedor-de-basura.png" alt="Borrar fila"></button>
            </div>
        </div>    
    }
</div>
<button (click)="agregarFila()" class="boton-resaltado" id="agregar-cochera">+</button>
 </main>
