<main>
    <div id="izquierda">
        <h1>Parking App</h1>
    </div>
    <div id="derecha">
        <form>
            <input type="text" name="username" placeholder="Usuario" [(ngModel)]="datosLogin.username">
            <input type="password" name="password" placeholder="Contraseña" [(ngModel)]="datosLogin.password">
            <!-- Lo hice botón por algo que pasará más adelante -->
            <button class="boton-resaltado" (click)="iniciarSesion()">Iniciar sesión</button>
        </form>
        <a [routerLink]="['/registro']">Registrarse</a>
    </div>
</main>