$color-principal: rgb(68, 58, 255);
$color-fondo : white;
$color-texto: rgb(22, 22, 22);
$color-texto-invertido: white;
$color-correcto: rgb(50, 145, 50);
$color-error: rgb(255, 67, 67);
$color-boton-secundario: rgb(74, 74, 74); 